.page.home {
  #already-connected-message {
    padding: 1em;
    text-align: center;
  }

  .content-container {
    background-color: rgb(116,86,77);
    margin-top: 1em;
    border-radius: 15px;
    padding: 2em 0;
    min-width: 280px;
    width: 80%;
  }

  .page-body {
    width: 75%;
    margin: 0 auto;
  }

  #enter-game-buttons {
    text-align: center;
  }

  button {
    margin: 10px 5px;
  }

  #public-game-list {
    margin-top: 25px;
    text-align: center;

    #refresh-button {
      float: left;
    }

    #available-games-header {
      display: inline-block;
      font-weight: bold;
      font-size: 25px;
      margin-top: 10px;
    }

    ul {
      list-style-type: none;
      padding: 0;

      button {
        width: 100%;
        border-width: 2px;
        padding: 10px 10px !important;
        border-collapse: collapse;

        .game-name {
          float: left;
        }

        .player-count {
          float: none;
        }

        .ready-count {
          float: right;
        }
      }
    }

    #page-indicator {
      float: right;
      margin-top: 10px;
      font-weight: bold;
      font-size: 25px;
    }

    #previous {
      float: left;
    }

    #previous, #next {
      font-size: 26px;
      font-weight: bold;
    }

    #next {
      float: right;
    }
  }
}