.page.login {
  form, .verify-email-container {
    background-color: rgb(116,86,77);
    padding: 0 2em 2em 2em;
    border-radius: 10px;
  }

  .verify-email-container {
    text-align: center;
  }

  form {
    label[for="username"],
    label[for="email"],
    label[for="password"],
    label[for="confirm"] {
      display: inline-block;
      width: 100%;
      text-align: left;
      font-size: 22px;
    }

    #username,
    #email,
    #password,
    #confirm {
      display: block;
      width: 100%;
      margin: 1em 0;
      appearance: none;
      background-color: transparent;
      border: none !important;
      outline: none !important;
      font-weight: bold;
      font-size: 25px;
      text-align: center;
      padding: 0;
    }

    #description {
      display: inline-block;
      margin: 2em 0 .5em 0;
      font-size: 20px;
    }

    .form-footer {
      margin: 1.5em 0 0.5em 0;
      font-size: 18px;

      a {
        color: #ffd700;
        text-decoration: underline;
      }
    }

    .captcha-fieldset {
      margin: 1em 0;
    }

    .g-recaptcha-container {
      min-height: 78px;
      display: flex;
      justify-content: center;
    }
  }

  .success-message {
    margin-top: 1em;
    padding: 1em;
    background-color: rgba(0, 128, 0, 0.3);
    border-radius: 8px;

    p {
      margin: 0.5em 0;
    }

    a {
      color: #ffd700;
      text-decoration: underline;
    }
  }

  .error-message {
    margin-top: 1em;
    padding: 1em;
    background-color: rgba(180, 0, 0, 0.3);
    border-radius: 8px;

    p {
      margin: 0.5em 0;
    }
  }
}